@import '../../../../app/styles/variables';

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 0;

  height: 220px;
  padding: 16px;

  border-radius: $border-radius;
  background: var(--main-color);
  box-shadow: $box-shadow;

  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}


.iconWrapper {
  width: 100%;
  flex: 0 0 auto;
}

.icon {
  border-radius: $border-radius;
  background-color: var(--body-background);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  height: 100%;

  svg {
    width: 56px;
    height: 56px;
    stroke-width: 0.8;
  }
}

/* INFO */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-top: 12px;
  overflow: hidden;
}

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  word-break: break-word;
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--text-additional-color);
}

@media (max-width: 768px) {
  .card {
    height: 180px;
    padding: 12px;
  }

  .icon svg {
    width: 44px;
    height: 44px;
  }

  .title {
    font-size: 18px;
  }

  .text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .card {
    height: 160px;
  }

  .icon {
    padding: 14px;
  }

  .title {
    font-size: 16px;
  }
}
