.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  pointer-events: none;
  opacity: 0;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  background-color: var(--body-background-default);
  max-height: 90vh;
  max-width: 30wh;
  position: absolute;
  z-index: -1;
  padding: 24px;
  border-radius: 4px;

  transform: scale(0.5);
  transition: 0.4s all;
}

.modalContent.active {
  transform: scale(1);
}