@import '../../../shared/styles/variables';

.button {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border-radius: 12px;
  background-color: var(--main-color-default);
  box-shadow: $box-shadow;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.2s ease;
}

.active {
  background-color: var(--highlighted-color-default);
  color: #fff;
}
