@import '../../styles/variables';

.SelectEntityList {
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  border-radius: $border-radius;
  background: var(--main-color-default);
  box-shadow: $box-shadow;
}

.list {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-right: 4px;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.text {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
}