@import '../../../../app/styles/variables';

.button {
  cursor: pointer;
  width: 100%;
  min-height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 20px;

  box-shadow: $box-shadow;
  background-color: var(--main-color);
  border-radius: 35px;
  border: 2px solid transparent;
  transition: 0.3s;

  color: var(--text-color);
}

.button:hover {
  border-color: var(--text-color);
  background-color: var(--text-additional-color);
}

.icon {
  width: clamp(32px, 5vw, 56px);
  height: clamp(32px, 5vw, 56px);

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.text {
  text-align: center;
  font-size: clamp(18px, 2.5vw, 36px);
  font-weight: 500;
  line-height: 1.2;
}
