@import "../../../shared/styles/variables";

.title {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}

.auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;

  min-height: 300px;
  //width:;
  padding: 24px;

  background: #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.buttons {
  display: flex;
  gap: 12px;

  button {
    flex: 1;
  }
}
