.formModalLayout {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: var(--text-color-default);
}

.button {
  margin-left: auto;
  width: 200px;
  height: 100px;
}