.container {
  padding: 16px;

}

.title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 8px;
}

.list {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer {
  margin-top: 16px;
}
