@import "../../../app/styles/typography";

.nav {
  display: flex;
  gap: clamp(8px, 2vw, 24px);
  a {
    text-decoration: none;
    color: var(--text-additional-color);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    transition: color 0.2s ease;
  }
}

a.active {
  color: var(--highlighted-color);
}


.active::after  {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--highlighted-color);
  margin-top: 2px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;

  }
}