.logo {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  max-width: 75px;
  min-width: 40px;

  svg {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
    fill: var(--body-background);
    //stroke: var(--body-background);
    stroke-width: 2px;
  }
}

.logo__text {
  color: var(--text-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 768px) {
  .logo__text {
    display: none;
  }
}