.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}

.logo_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
}

.logo_text {
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  color: var(--text-color);
}