.CardList {
  display: grid;
  justify-content: center; /* важно */
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 16px;
}


@media (max-width: 1024px) {
  .CardList {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 14px;
  }
}

@media (max-width: 640px) {
  .CardList {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 12px;
  }
}
