@import '../../../app/styles/variables';

.search {
  padding: 10px;
  border-radius: 15px;
  box-shadow: $box-shadow;
  background-color: var(--main-color);
  max-width: 50%;
}

.button {
  min-height: 40px;
  max-height: 60px;
  width: clamp(100px, 30vw, 300px);
  //height: clamp();
  margin-left: auto;
}