$box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.25);
$border-radius: 15px;

:root[data-theme='light'] {
  --body-background: #F8F9FB;
  --main-color: #ffffff;
  --text-color: #111111;
  --text-additional-color: #6B7280;
  --highlighted-color: #585BE9;
}

:root[data-theme='dark'] {
  --body-background: #000;
  --main-color: #000;
  --text-color: #fff;
  --text-additional-color: #aaa;
  --highlighted-color: #585BE9;
}