@import '../../../../shared/styles/variables';

.card {
  height: 280px;
  max-width: 600px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--main-color-default);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.imgWrapper {
  height: 100%;
  margin-right: 15px;

  aspect-ratio: 4 / 3;
  background-size: cover;
  background-position: center;

  border-radius: 20%;
}

.img {
  border-radius: 35px;
}

.cardInfo {
  flex: 1;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: auto;
  font-size: 40px;
  font-weight: 600;
  color: var(--text-color-default);
}

.statistic {
  color: var(--text-additional-color-default);
  text-align: right;
  font-size: 22px;
  font-weight: 500;
}

.info {
  margin-left: auto;
  display: flex;
  column-gap: 10px;
  //flex-direction: column;
}

.rating_additions {
  //display: flex;
  //flex-direction: column;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.node {
  display: none;
}