.GroupCardList {
  max-height: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 37px;
  transition: max-height 0.5s ease;
}

.active {
  max-height: 1000px;
}