
.button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;

  padding: 5px;
  border-radius: 10px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
}

.blue {
  border: 2.5px solid var(--blue-color);
  color: var(--blue-color);
}

.blue:hover {
  background-color: var(--blue-color);
  color: var(--body-background);
}

.orange {
  border: 2.5px solid var(--orange-color);
  color: var(--orange-color);
}

.orange:hover {
  background-color: var(--orange-color);
  color: var(--body-background);
}

.red {
  border: 2.5px solid var(--red-color);
  color: var(--red-color);
}

.red:hover {
  background-color: var(--red-color);
  color: var(--body-background);
}
