@import './reset.css';
@import './variables.scss';
@import './typography.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

body {
  background-color: var(--body-background);
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 10px 20px;
}

svg {
  stroke: var(--text-color);
  fill: var(--text-color);
}

.small {
  width: var(--icon-size-xs) ;
  height: var(--icon-size-xs) ;
}

.medium {
  width: var(--icon-size-md) ;
  height: var(--icon-size-md) ;
}

.large {
  width: var(--icon-size-lg) ;
  height: var(--icon-size-lg) ;
}

.button {
  width: clamp(10rem, 3vw, 13rem);
}
