
h1, .heading-3xl {
  color: var(--text-color);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}

h2, .heading-2xl {
  color: var(--text-color);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

h3, .heading-xl {
  color: var(--text-color);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.text-base {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  line-height: 1.5;
}

.text-md {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
  line-height: 1.5;
}

.text-muted {
  color: var(--text-additional-color);
}
