.input {
  border-radius: 15px;
  background: var(--main-color-default);
  box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  padding: 5px 16px;
  margin: 15px 0;
  font-size: 25px;
  font-weight: 400;
}