.TrainModeList {
  display: grid;
  gap: 16px;
  width: 100%;

  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 25px;
}

@media (max-width: 1024px) {
  .TrainModeList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .TrainModeList {
    grid-template-columns: 1fr;
  }
}
