:root[data-theme='dark'] {
  --body-background: #121212;
  --main-color: #1E1E1E;
  --text-color: #E9ECEF;
  --text-additional-color: #ADB5BD;
  --highlighted-color: #6396FF;
  --box-shadow:  0 1px 2px rgba(255,255,255,0.05), 0 4px 8px rgba(0,0,0,0.3);

  --blue-color: #1414ff;
  --orange-color: orange;
  --red-color: #ff1414;
}

//:root[data-theme='dark'] {
//  --body-background: #111827;
//  --main-color: #303946;
//  --text-color: #fff;
//  --text-additional-color: #aaa;
//  --highlighted-color: #585BE9;
//  --box-shadow: 0 0 1px 0.5px rgba(255, 255, 255, 0.25);
//
//  --blue-color: #1414ff;
//  --orange-color: orange;
//  --red-color: #ff1414;
//}