@import '../../../app/styles/variables';

.dictionarySection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  //max-width: 800px;
  width: 100%;
}

.filters {
  gap: 16px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
  margin-bottom: 25px;

  * {
    //width: clamp(150px, 16vw, 300px);
  }
  @media (max-width: 768px) {
    justify-content: start;
  }
  @media (max-width: 500px) {
    align-items: normal;
    flex-direction: column;
  }
}

.search {
  width: 100%;
  max-width: 650px;
  padding: 12px 16px;
  border-radius: 14px;
  background-color: var(--main-color);
  box-shadow: $box-shadow;
}

.controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.control {
  width: 25%;
  min-width: 100px;
  max-width: 400px;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //padding: 0 14px;
  //background-color: var(--main-color);
  //box-shadow: $box-shadow;
  //border-radius: 12px;
}

.features {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 4px;

  * {
    width: clamp(150px, 16vw, 300px);
  }
  @media (max-width: 768px) {
    justify-content: start;
  }
  @media (max-width: 500px) {
    align-items: normal;
    flex-direction: column;
  }
}

