@import '../../../shared/styles/variables';

.dictionarySection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filters {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
  align-items: center;
}

.search {
  max-width: 650px;
  padding: 12px 16px;
  border-radius: 14px;
  background-color: var(--main-color);
  box-shadow: $box-shadow;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control {
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  //background-color: var(--main-color);
  //box-shadow: $box-shadow;
  //border-radius: 12px;
}
