@import '../../../shared/styles/variables';

.filter {
  display: flex;
  justify-content: space-between;
}

.search {
  padding: 10px;
  border-radius: 15px;
  box-shadow: $box-shadow;
  background-color: var(--main-color-default);
  max-width: 50%;
}