@import '../../../../shared/styles/variables';

.container {
  //max-height: 350px;
  width: 100%;
  //height: 100%;

  //display: flex;
  //justify-content: space-between;

}

.linearGraph {
  padding: 10px;
  max-height: 350px;
  max-width: 63%;
  border-radius: $border-radius;
  background: var(--main-color-default);
  box-shadow: $box-shadow;
}

.info {
  height: 100%;
  width: 450px;
  column-gap: 20px;
  background-color: black;
}

