.textArea {
  width: 100%;
  min-height: 80px;
  resize: vertical;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--text-color);

  ::placeholder {
    color: var(--text-additional-color);
  }
}
