@import '../../../shared/styles/variables';

.search {
  max-width: 700px;
  background-color: var(--main-color-default);

  display: flex;
  align-items: center;

  font-size: 40px;
}

.icon {
  margin: auto 25px auto 0;

  transition: 0.3s;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.active {
  transform: scale(1.3);

  svg path {
    fill: black;
  }
}

.clear {
  cursor: pointer;
  color: var(--highlighted-color-default);
  text-align: right;
  font-size: 25px;
  font-weight: 400;
}