.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 18px;
  font-weight: 500;
  font-size: 31px;

}

a {
  color: var(--text-additional-color-default)
}

.active {
  color: var(--highlighted-color-default);
}

.active::after  {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--highlighted-color-default);
  margin-top: 2px;
}