.iconContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 8px;
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;

  //svg {
  //  width: 18px;
  //  height: 18px;
  //}
}

.active {
  background-color: #e5f0ff;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
  margin-top: auto;
}
