@import '../../../../shared/styles/variables';

.card {
  height: 420px;
  width: 350px;

  padding: 20px;

  background: var(--main-color);

  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.icon {
  border-radius: $border-radius;
  background-color: var(--body-background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.cardInfo {
  margin: 10px 0;
}

.title {
  color: var(--text-color);
  font-size: 40px;
  font-weight: 600;
}

.text {
  color: var(--text-additional-color);
  font-size: 20px;
  font-weight: 500;
}