.sectionBlock {
  flex: 1;
  width: 100%;
  margin: 25px 0;

  display: flex;
  flex-direction: column;
  min-height: 0;
}

.sectionBlockInfo {
  flex-shrink: 0;
}

.sectionBlockContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  display: flex;
  //justify-content: space-between;
  align-items: center;
}

.iconText {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.icon {
  width: var(--icon-size-xs);
  //width: 50px;
  //margin-right: 10px;
  transform: rotate(270deg);
  transition: 0.4s;
}

.description {
  color: var(--text-additional-color);
  font-size: 32px;
  font-weight: 400;
  margin: 15px 0
}

.active {
  transform: rotate(360deg);
}

.title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.titleText {
  margin-left: 10px;
}

.featuresList {
  column-gap: 16px;
  display: flex;
  width: 100%;
  //height: 46px;
}

.content {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

@media (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: normal;
  }
}