.card {
  position: relative;
  display: flex;
  flex-direction: row;

  width: 100%;
  min-width: 0;
  //max-width: 100%;

  height: 220px;

  border-radius: 12px;
  overflow: hidden;
  background-color: var(--main-color);
  text-decoration: none;
  color: var(--text-color);
  box-shadow: var(--box-shadow);

  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  .card * {
    min-width: 0;
  }
}

.imageWrapper {
  flex: 0 0 60%;
  width: 60%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  background: var(--text-color);
  opacity: 0.3;
}

.info {
  flex: 1;
  width: 40%;
  padding: 12px;
  display: flex;
  //flex-direction: column;
  //justify-content: center;
  gap: 8px;
  overflow: hidden;
}

.title {

}

.description {
  font-size: 14px;
  opacity: 0.8;
}

.publication {
  .overlay {
    opacity: 0;
    pointer-events: none;
  }

  &:hover .overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s ease;
}

.downloadBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;

  background: #ffffff;
  color: #000;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    background: #eaeaea;
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 300px;
    height: 160px;
  }

  .title {
    font-size: 14px;
  }

  .description {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .card {
    min-width: 240px;
    height: 140px;
  }

  .info {
    padding: 8px;
  }
}
