@import '../../../shared/styles/variables';

.input {
  padding: 10px;
  margin: 20px 0;
  color: var(--text-color);
  background: var(--main-color);
  border-radius: 15px;
  box-shadow: $box-shadow;
}

.inputWrapper {
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  min-height: 80px;
  background: var(--main-color);
  border-radius: 15px;
  box-shadow: $box-shadow;
  border: none;
}

.imageUpload {
  padding: 10px;
  margin: 12px 0;
  color: var(--text-color);
  background: var(--main-color);
  border-radius: 15px;
  box-shadow: $box-shadow;
}

.selectIcon {
  height: 300px;
  padding: 10px;
  margin: 12px 0;
  color: var(--text-color);
  background: var(--main-color);
  border-radius: 15px;
  box-shadow: $box-shadow;
}