.header {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  box-shadow: 0 1px 1px 0.2px rgba(0, 0, 0, 0.25);
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}

.header__left {
  display: flex;
  align-items: center;
  column-gap: 100px;
}

.header__right {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
