@import "../../../app/styles/variables";

.header {
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 89px;
}

.burgerToggle {
  display: none;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1100;
}

.burger::before,
.burger::after,
.burger span {
  background-color: var(--text-color);
  position: absolute;
  width: 100%;
  height: 3px;
  transition: 0.3s;
}

.burger::before {
  content: '';
  top: 0;
}

.burger::after {
  content: '';
  bottom: 0;
}

.burger span {
  top: 11px;
}

.headerItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  z-index: 1050;
}

.headerAdditional {
  display: flex;
  gap: 20px;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .burger {
    display: block;
    margin-left: auto;
    z-index: 10000;
  }

  .headerItems {
    position: fixed;
    inset: 0;
    background-color: var(--body-background);

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 120px;
    gap: 40px;

    transform: translateY(-100%);
    transition: 0.3s;
  }

  .burgerToggle:checked ~ .headerItems {
    transform: translateY(0);
  }

  .burgerToggle:checked + .burger::before {
    transform: rotate(45deg);
    top: 11px;
  }

  .burgerToggle:checked + .burger::after {
    transform: rotate(-45deg);
    bottom: 11px;
  }

  .burgerToggle:checked + .burger span {
    opacity: 0;
  }
}
